* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, transparent, rgb(177, 166, 166))
    rgb(229, 147, 181);
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  padding: 4rem;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 500px;
  min-height: 100px;
  border-radius: 10px;
  margin: 2rem auto;
  overflow: hidden;
  /* display: flex;
  align-items: center; */
}
.box img {
  /* width: 4rem; */
  height: 130px;
  width: 130px;
}

.box img.tiger {
  height: 120px;
  width: 145px;
  /* display: inline; */
  transform: translateY(12px);
}

.progress {
  /* height: 1rem;
  background: red;
  position: fixed;
  top: 0; */
  /* left: 0; */
}
.legend {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  white-space: nowrap;
  opacity: 0.4;
  font-weight: 900;
}

.box p {
  font-size: 130px;
}

@media (prefers-color-scheme: dark) {
}
